@import 'core';

.pf-page-header {
  $header-bg: palette(theme-dark);
  position: relative;
  height: rem(360px);
  background-color: $header-bg;

  // Media
  &__media {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;

    &::after {
      @include absolute-full;
      content: '';
      display: block;
      background-color: transparentize(darken(palette(theme-accent-2), 30%), .6);
      z-index: 1;
    } // /&::after

    img {
      position: absolute;
      width: 125%;
      height: auto;
      min-height: 100%;
      transform: rotateZ(-4deg) translateX(-12.5%);
      transform-origin: top left;
    } // /img
  } // /&__media

  // Title
  &__copy {
    position: absolute;
    bottom: 2rem;
    left: 0;
    z-index: 1;
  } // /&__copy

  &__title {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    background: palette(theme-dark);
    color: palette(theme-accent-2);
    padding: .25rem (map-get($grid-gutter-widths, xs) / 2);

    // md up
    @include media-breakpoint-up(md) {
      padding: .25rem ($grid-gutter-width-base / 2);
    } // /md up
  } // /&__title

  &__back {
    position: relative;
    background: palette(theme-accent-1);
    color: palette(theme-accent-2);
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: 0;
    padding: .25rem (map-get($grid-gutter-widths, xs) / 2);
    z-index: 1;

    // md up
    @include media-breakpoint-up(md) {
      padding: .25rem ($grid-gutter-width-base / 2);
    } // /md up

    &:hover,
    &:focus {
      color: palette(theme-light);
    } // hover state
  } // /&__back
} // /.pf-page-header
