@import 'core';

$page-padding: 3rem;

.page-content {
  padding-bottom: ($page-padding / 2);
  padding-top: ($page-padding / 2);
  text-align: center;

  @include respond-up('md') {
    padding-bottom: $page-padding;
    padding-top: $page-padding;
  }
}
