@import 'core';

.portfolio-page-header {
  $header-bg: palette('theme-dark-shades');

  background-color: $header-bg;
  border-bottom: solid rem(6px) palette('theme-accent-light');
  min-height: rem(360px);
  position: relative;
  padding: rem(48px) 0 rem(32px);

  @include respond-up('lg') {
    border-bottom-width: rem(8px);
  }

  &__media {
    height: 100%;
    left: 0;
    margin: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;

    &::after {
      background-color: transparentize(
        desaturate(darken(palette('theme-accent-dark'), 40%), 40%),
        0.2
      );
      bottom: 0;
      content: '';
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      z-index: 1;
    }

    img {
      height: 125%;
      object-fit: cover;
      position: absolute;
      transform: rotateZ(-4deg) translateX(-12.5%);
      transform-origin: top left;
      width: 125%;
    }
  }

  // Title
  &__copy {
    position: relative;
    z-index: 1;
  }

  &__title {
    background: transparentize(palette('theme-dark-shades'), 0.2);
    box-decoration-break: clone;
    color: palette('theme-accent-dark');
    display: inline-block;
    margin: 0;
    padding: 0.25rem (map-get($gutter-widths, 'xs') / 2);
    vertical-align: top;

    @include respond-up('sm') {
      word-break: normal;
    }

    @include respond-up('md') {
      padding: 0.25rem ($grid-gutter-width-base / 2);
    }
  }

  &__back {
    @include heading(6);

    background: palette('theme-accent-dark');
    color: palette('theme-light-shades');
    display: inline-block;
    margin-bottom: 0;
    padding: 0.25rem (map-get($gutter-widths, 'xs') / 2);
    position: relative;
    vertical-align: bottom;
    z-index: 1;

    @include respond-up('md') {
      padding: 0.25rem ($grid-gutter-width-base / 2);
    }

    &:hover,
    &:focus {
      color: palette('theme-light-shades');
    }
  }

  &__tech {
    background-color: transparentize(palette('theme-dark-shades'), 0.2);
    color: palette('white');
    padding: 0 (map-get($gutter-widths, 'xs') / 2);

    @include respond-up('sm') {
      align-items: baseline;
      display: inline-flex;
    }

    @include respond-up('md') {
      padding: 0 ($grid-gutter-width-base / 2);
    }

    &__heading {
      margin: 0;
    }

    &__list {
      list-style: none;
      margin: 0;
      padding: 0;

      // sm up
      @include respond-up('sm') {
        border-left: solid 1px palette('theme-accent-light');
        margin-left: 1rem;
        padding-left: 1rem;
      }
    }

    &__list-item {
      display: inline-block;
      padding: 0.5rem 0;
      vertical-align: middle;

      &:not(:last-child) {
        margin-right: 1rem;
      }

      svg {
        height: rem(48px);
        width: rem(64px);
      }
    }
  }
}
