@import 'core';

.about-icon {
  display: block;
  flex: 0 1 auto;
  font-size: $font-size-h3;
  line-height: 1;
  margin-bottom: 1rem;
  padding: 0 ($grid-gutter-width-base / 4);
  text-align: center;

  @include respond-up('lg') {
    font-size: $font-size-h1 * 1.5;
    padding: 0 ($grid-gutter-width-base / 2);
  }

  // Modifiers
  &--large {
    font-size: $font-size-h1;

    @include respond-up('md') {
      font-size: $font-size-h1 * 2;
    }
  }
}
