@import 'core';

.pf-carousel {

  &__figure {
    position: relative;

    // Figure variants
    &--mobile {
      $aspect: (439 / 222);
      $device-img-width-diff: .8675;
      $device-img-height-diff: .74725;
      $device-img-offset-top: .2575;
      $device-frame-width-xs: 192;
      $device-frame-width-sm: 192;
      $device-frame-width-md: 192;
      $device-frame-width-xl: 192;

      .pf-carousel__device-frame {
        width: rem($device-frame-width-xs * 1px);
        height: rem($device-frame-width-xs * $aspect * 1px);
      } // /.pf-carousel__device-frame

      .pf-carousel__device-img {
        width: rem($device-frame-width-xs * $device-img-width-diff * 1px);
        height: rem($device-frame-width-xs * $aspect * $device-img-height-diff * 1px);
        top: rem($device-frame-width-xs * $device-img-offset-top * 1px);
        right: 0;
        left: 0;
        margin: 0 auto;
      } // /.pf-carousel__device-img

      // sm up
      @include media-breakpoint-up(sm) {
        .pf-carousel__device-frame {
          width: rem($device-frame-width-sm * 1px);
          height: rem($device-frame-width-sm * $aspect * 1px);
        } // /.pf-carousel__device-frame

        .pf-carousel__device-img {
          width: rem($device-frame-width-sm * $device-img-width-diff * 1px);
          height: rem($device-frame-width-sm * $aspect * $device-img-height-diff * 1px);
          top: rem($device-frame-width-sm * $device-img-offset-top * 1px);
        } // /.pf-carousel__device-frame
      } // /sm up

      // md up
      @include media-breakpoint-up(md) {
        .pf-carousel__device-frame {
          width: rem($device-frame-width-md * 1px);
          height: rem($device-frame-width-md * $aspect * 1px);
        } // /.pf-carousel__device-frame

        .pf-carousel__device-img {
          width: rem($device-frame-width-md * $device-img-width-diff * 1px);
          height: rem($device-frame-width-md * $aspect * $device-img-height-diff * 1px);
          top: rem($device-frame-width-md * $device-img-offset-top * 1px);
        } // /.pf-carousel__device-frame
      } // /md up

      // xl up
      @include media-breakpoint-up(xl) {
        .pf-carousel__device-frame {
          width: rem($device-frame-width-xl * 1px);
          height: rem($device-frame-width-xl * $aspect * 1px);
        } // /.pf-carousel__device-frame

        .pf-carousel__device-img {
          width: rem($device-frame-width-xl * $device-img-width-diff * 1px);
          height: rem($device-frame-width-xl * $aspect * $device-img-height-diff * 1px);
          top: rem($device-frame-width-xl * $device-img-offset-top * 1px);
        } // /.pf-carousel__device-frame
      } // /xl up
    } // /&--mobile

    &--tablet {
      $aspect: (477 / 322);
      $device-img-width-diff: .8875;
      $device-img-height-diff: .80125;
      $device-img-offset-top: .1375;
      $device-frame-width-xs: 224;
      $device-frame-width-sm: 320;
      $device-frame-width-md: 320;
      $device-frame-width-xl: 320;

      .pf-carousel__device-frame {
        width: rem($device-frame-width-xs * 1px);
        height: rem($device-frame-width-xs * $aspect * 1px);
      } // /.pf-carousel__device-frame

      .pf-carousel__device-img {
        width: rem($device-frame-width-xs * $device-img-width-diff * 1px);
        height: rem($device-frame-width-xs * $aspect * $device-img-height-diff * 1px);
        top: rem($device-frame-width-xs * $device-img-offset-top * 1px);
        right: 0;
        left: 0;
        margin: 0 auto;
      } // /.pf-carousel__device-img

      // sm up
      @include media-breakpoint-up(sm) {
        .pf-carousel__device-frame {
          width: rem($device-frame-width-sm * 1px);
          height: rem($device-frame-width-sm * $aspect * 1px);
        } // /.pf-carousel__device-frame

        .pf-carousel__device-img {
          width: rem($device-frame-width-sm * $device-img-width-diff * 1px);
          height: rem($device-frame-width-sm * $aspect * $device-img-height-diff * 1px);
          top: rem($device-frame-width-sm * $device-img-offset-top * 1px);
        } // /.pf-carousel__device-frame
      } // /sm up

      // md up
      @include media-breakpoint-up(md) {
        .pf-carousel__device-frame {
          width: rem($device-frame-width-md * 1px);
          height: rem($device-frame-width-md * $aspect * 1px);
        } // /.pf-carousel__device-frame

        .pf-carousel__device-img {
          width: rem($device-frame-width-md * $device-img-width-diff * 1px);
          height: rem($device-frame-width-md * $aspect * $device-img-height-diff * 1px);
          top: rem($device-frame-width-md * $device-img-offset-top * 1px);
        } // /.pf-carousel__device-frame
      } // /md up

      // xl up
      @include media-breakpoint-up(xl) {
        .pf-carousel__device-frame {
          width: rem($device-frame-width-xl * 1px);
          height: rem($device-frame-width-xl * $aspect * 1px);
        } // /.pf-carousel__device-frame

        .pf-carousel__device-img {
          width: rem($device-frame-width-xl * $device-img-width-diff * 1px);
          height: rem($device-frame-width-xl * $aspect * $device-img-height-diff * 1px);
          top: rem($device-frame-width-xl * $device-img-offset-top * 1px);
        } // /.pf-carousel__device-frame
      } // /xl up
    } // /&--tablet

    &--desktop {
      $aspect: (291 / 506);
      $device-img-width-diff: .75;
      $device-img-height-diff: .81375;
      $device-img-offset-top: .036225;
      $device-frame-width-xs: 290;
      $device-frame-width-sm: 420;
      $device-frame-width-md: 540;
      $device-frame-width-xl: 640;

      .pf-carousel__device-frame {
        width: rem($device-frame-width-xs * 1px);
        height: rem($device-frame-width-xs * $aspect * 1px);
      } // /.pf-carousel__device-frame

      .pf-carousel__device-img {
        width: rem($device-frame-width-xs * $device-img-width-diff * 1px);
        height: rem($device-frame-width-xs * $aspect * $device-img-height-diff * 1px);
        top: rem($device-frame-width-xs * $device-img-offset-top * 1px);
        right: 0;
        left: 0;
        margin: 0 auto;
      } // /.pf-carousel__device-img

      // sm up
      @include media-breakpoint-up(sm) {
        .pf-carousel__device-frame {
          width: rem($device-frame-width-sm * 1px);
          height: rem($device-frame-width-sm * $aspect * 1px);
        } // /.pf-carousel__device-frame

        .pf-carousel__device-img {
          width: rem($device-frame-width-sm * $device-img-width-diff * 1px);
          height: rem($device-frame-width-sm * $aspect * $device-img-height-diff * 1px);
          top: rem($device-frame-width-sm * $device-img-offset-top * 1px);
        } // /.pf-carousel__device-frame
      } // /sm up

      // md up
      @include media-breakpoint-up(md) {
        .pf-carousel__device-frame {
          width: rem($device-frame-width-md * 1px);
          height: rem($device-frame-width-md * $aspect * 1px);
        } // /.pf-carousel__device-frame

        .pf-carousel__device-img {
          width: rem($device-frame-width-md * $device-img-width-diff * 1px);
          height: rem($device-frame-width-md * $aspect * $device-img-height-diff * 1px);
          top: rem($device-frame-width-md * $device-img-offset-top * 1px);
        } // /.pf-carousel__device-frame
      } // /md up

      // xl up
      @include media-breakpoint-up(xl) {
        .pf-carousel__device-frame {
          width: rem($device-frame-width-xl * 1px);
          height: rem($device-frame-width-xl * $aspect * 1px);
        } // /.pf-carousel__device-frame

        .pf-carousel__device-img {
          width: rem($device-frame-width-xl * $device-img-width-diff * 1px);
          height: rem($device-frame-width-xl * $aspect * $device-img-height-diff * 1px);
          top: rem($device-frame-width-xl * $device-img-offset-top * 1px);
        } // /.pf-carousel__device-frame
      } // /xl up
    } // /&--desktop
  } // /&__figure

  // Device frames (laptop, tablet, mobile)
  &__device-frame {
    position: relative;
    display: block;
    max-width: 100%;
    margin: auto;
    z-index: 2;
  } // /&__device-frame

  // Device images
  &__device-img {
    position: absolute;
    overflow-y: auto;
    z-index: 1;

    img {
      display: block;
      width: 100%;
      height: auto;
    } // /img
  } // /&__device-frame
} // /.pf-carousel
