@import 'core';

$selector: portfolio-carousel;

.#{$selector} {
  @include respond-up('md') {
    display: none;
  }

  &__figure {
    position: relative;
    user-select: none;

    &--mobile {
      $aspect: (439 / 222);
      $device-img-width-diff: 0.8675;
      $device-img-height-diff: 0.74725;
      $device-img-offset-top: 0.2575;
      $device-frame-width-xs: 192;
      $device-frame-width-sm: 192;

      @include respond-up('sm') {
        .#{$selector}__device-frame {
          height: rem($device-frame-width-sm * $aspect * 1px);
          width: rem($device-frame-width-sm * 1px);
        }

        .#{$selector}__device-img {
          height: rem($device-frame-width-sm * $aspect * $device-img-height-diff * 1px);
          top: rem($device-frame-width-sm * $device-img-offset-top * 1px);
          width: rem($device-frame-width-sm * $device-img-width-diff * 1px);
        }
      }

      .#{$selector}__device-frame {
        height: rem($device-frame-width-xs * $aspect * 1px);
        width: rem($device-frame-width-xs * 1px);
      }

      .#{$selector}__device-img {
        height: rem($device-frame-width-xs * $aspect * $device-img-height-diff * 1px);
        left: 0;
        margin: 0 auto;
        right: 0;
        top: rem($device-frame-width-xs * $device-img-offset-top * 1px);
        width: rem($device-frame-width-xs * $device-img-width-diff * 1px);
      }
    }

    &--tablet {
      $aspect: (477 / 322);
      $device-img-width-diff: 0.8875;
      $device-img-height-diff: 0.80125;
      $device-img-offset-top: 0.1375;
      $device-frame-width-xs: 224;
      $device-frame-width-sm: 320;

      @include respond-up('sm') {
        .#{$selector}__device-frame {
          height: rem($device-frame-width-sm * $aspect * 1px);
          width: rem($device-frame-width-sm * 1px);
        }

        .#{$selector}__device-img {
          height: rem($device-frame-width-sm * $aspect * $device-img-height-diff * 1px);
          top: rem($device-frame-width-sm * $device-img-offset-top * 1px);
          width: rem($device-frame-width-sm * $device-img-width-diff * 1px);
        }
      }

      .#{$selector}__device-frame {
        height: rem($device-frame-width-xs * $aspect * 1px);
        width: rem($device-frame-width-xs * 1px);
      }

      .#{$selector}__device-img {
        height: rem($device-frame-width-xs * $aspect * $device-img-height-diff * 1px);
        left: 0;
        margin: 0 auto;
        right: 0;
        top: rem($device-frame-width-xs * $device-img-offset-top * 1px);
        width: rem($device-frame-width-xs * $device-img-width-diff * 1px);
      }
    }

    &--desktop {
      $aspect: (291 / 506);
      $device-img-width-diff: 0.75;
      $device-img-height-diff: 0.81375;
      $device-img-offset-top: 0.036225;
      $device-frame-width-xs: 290;
      $device-frame-width-sm: 420;

      @include respond-up('sm') {
        .#{$selector}__device-frame {
          height: rem($device-frame-width-sm * $aspect * 1px);
          width: rem($device-frame-width-sm * 1px);
        }

        .#{$selector}__device-img {
          height: rem($device-frame-width-sm * $aspect * $device-img-height-diff * 1px);
          top: rem($device-frame-width-sm * $device-img-offset-top * 1px);
          width: rem($device-frame-width-sm * $device-img-width-diff * 1px);
        }
      }

      .#{$selector}__device-frame {
        height: rem($device-frame-width-xs * $aspect * 1px);
        width: rem($device-frame-width-xs * 1px);
      }

      .#{$selector}__device-img {
        height: rem($device-frame-width-xs * $aspect * $device-img-height-diff * 1px);
        left: 0;
        margin: 0 auto;
        right: 0;
        top: rem($device-frame-width-xs * $device-img-offset-top * 1px);
        width: rem($device-frame-width-xs * $device-img-width-diff * 1px);
      }
    }
  }

  &__device-frame {
    display: block;
    margin: auto;
    max-width: 100%;
    position: relative;
    z-index: 2;
  }

  &__device-img {
    overflow-y: auto;
    position: absolute;
    z-index: 1;

    img {
      display: block;
      height: auto;
      width: 100%;
    }
  }
}
