@import '../sass/bootstrap/variables';
/* ---------------------------------------------------------------------------------------------------------------------
** Application variables
** ------------------------------------------------------------------------------------------------------------------ */
// Static assets path (relative to generated CSS)
$static-path: '..';

// Colour palette
// ---------------------------------------------------------------------------------------------------------------------
$palette: (
    // Greyscale
    white:         #fff,
    black:         #000,
    grey:          #666,
    // Colour Themes
    // Dark Green/Orange
    // theme-dark:     #1d2527,
    // theme-mid:      #c1c395,
    // theme-light:    #f8efb6,
    // theme-accent-1: #1e9859,
    // theme-accent-2: #d65d2b,
    // Pink/Blue
    // theme-dark:     #293e44,
    // theme-mid:      #a5ceeb,
    // theme-light:    #f6ecf0,
    // theme-accent-1: #e76569,
    // theme-accent-2: #56b9b7,
    // Blue/Green/Cream
    theme-dark:     #354143,
    theme-mid:      #4c5b69,
    theme-light:    #fef9b4,
    theme-accent-1: #2b978a,
    theme-accent-2: #cbda57,
    // Social
    googleplus:    #dd4b39,
    twitter:       #55acee,
    facebook:      #3b5998,
    linkedin:      #0274b3,
    instagram:     #bc2a8d,
    youtube:       #b00,
    pinterest:     #cb2027
);

// $headings-color: mix(palette(theme-accent-2), palette(theme-dark), 12.5%);
$headings-color: desaturate(palette(theme-accent-2), 25%);

// Typography
// ---------------------------------------------------------------------------------------------------------------------
$font-path: '#{$static-path}/fonts';

// Font weights
$font-weights: (
    thin:       100,
    extralight: 200,
    light:      300,
    regular:    normal,
    medium:     500,
    semibold:   600,
    bold:       bold,
    extrabold:  800,
    heavy:      900
);

// Paragraph text
$paragraph-margin-bottom: 1rem;

// Links
$link-font-weight: weight(semibold);

// Lists
$list-padding: 1em;
$dl-margin-bottom: $paragraph-margin-bottom;
$dt-font-weight: weight(semibold);
$dt-margin-bottom: $paragraph-margin-bottom;
$dd-font-size: percentage(14 / 18);

// Font families
$font-family-base: sans-serif;
$body-font-family: 'Open Sans', $font-family-base;
$headings-font-family: 'Titillium Web', $font-family-base;

// Icon vertical align correction
// Varies based on font-family used - use this value to centre icons properly with inline elements,
// in conjunction with vertical-align: middle
// $icon-bottom-correction: .125em;
$icon-bottom-correction: 0;

// Animations
// ---------------------------------------------------------------------------------------------------------------------
$anim-dur: .15s;
$anim-ease: ease-in-out;
$easings: (
    ease-in-out-cubic: cubic-bezier(.645, .045, .355, 1),
    ease-in-out-quart: cubic-bezier(.77, 0, .175, 1),
    ease-out-expo: cubic-bezier(.19, 1, .22, 1) // A very harsh ease-out - http://easings.net/#easeOutExpo
);

// Shadows
// ---------------------------------------------------------------------------------------------------------------------
$shadow-blur-sm: rem(2px);
$shadow-spread-sm: rem(-1px);
$shadow-distance-sm: rem(4px);
$shadow-opacity: .2;

// Box
$box-shadow-right-sm: $shadow-distance-sm 0 $shadow-blur-sm $shadow-spread-sm rgba(0, 0, 0, $shadow-opacity);
$box-shadow-right-down-sm: $shadow-distance-sm $shadow-distance-sm $shadow-blur-sm $shadow-spread-sm rgba(0, 0, 0, $shadow-opacity);
$box-shadow-down-sm: 0 $shadow-distance-sm $shadow-blur-sm $shadow-spread-sm rgba(0, 0, 0, $shadow-opacity);

// Filter
$filter-shadow-right-sm: $shadow-distance-sm 0 $shadow-blur-sm rgba(0, 0, 0, $shadow-opacity);
$filter-shadow-right-down-sm: $shadow-distance-sm $shadow-distance-sm $shadow-blur-sm rgba(0, 0, 0, $shadow-opacity);
$filter-shadow-down-sm: 0 $shadow-distance-sm $shadow-blur-sm rgba(0, 0, 0, $shadow-opacity);

/* ---------------------------------------------------------------------------------------------------------------------
** Bootstrap Customisation
** ------------------------------------------------------------------------------------------------------------------ */
// Brands
// $brand-success: ;
// $brand-warning: ;
// $brand-danger:  ;

// Typography
$font-size-root: 16px;
$font-size-base: rem($font-size-root);
$line-height: 1.5;

// Horizontal rule
$hr-border-width: 1px;
$hr-border-color: currentColor;

// Headings
$headings-margin-bottom: $paragraph-margin-bottom;
$headings-line-height: 1.2;
$headings-font-weight: weight(light);
$headings-letter-spacing: .2em;

// Desktop sizes
$font-size-h1: rem(72px);
$font-size-h2: rem(56px);
$font-size-h3: rem(48px);
$font-size-h4: rem(24px);
$font-size-h5: 1rem;
$font-size-h6: rem(14px);

// // Headings - Mobile sizes
$font-size-h1-mobile: $font-size-h1 * .55;
$font-size-h2-mobile: $font-size-h2 * .75;
$font-size-h3-mobile: $font-size-h3 * .75;
$font-size-h4-mobile: 1rem;

// $display-line-height: 1.28;

$lead-font-size: rem(30px);
$lead-font-size-mobile: $lead-font-size * .75;
$lead-font-weight: weight(light);

$small-font-size: percentage(12px / $font-size-root);

// Grid
// ---------------------------------------------------------------------------------------------------------------------
// // Custom breakpoints
// $grid-breakpoints: (
//     xs: 0,
//     sm: 576px,
//     md: 768px,
//     lg: 992px,
//     xl: 1200px
// );

// // Custom .container widths
// $container-max-widths: (
//     sm: 540px,
//     md: 720px,
//     lg: 960px,
//     xl: 1140px
// );

$container-absolute-max-width: 1440px;

$grid-columns: 12;
$grid-gutter-width-base: 30px;
$grid-gutter-widths: (
  xs: 24px,
  sm: 24px,
  md: $grid-gutter-width-base,
  lg: $grid-gutter-width-base,
  xl: $grid-gutter-width-base
);

// Spacers
$spacer:   1rem;
$spacer-x: $spacer;
$spacer-y: $spacer;
$spacers: (
    0: (
        x:   0,
        y:   0
    ),
    1: (
        x:   $spacer-x,
        y:   $spacer-y
    ),
    2: (
        x:   ($spacer-x * 2),
        y:   ($spacer-y * 2)
    ),
    3: (
        x:   ($spacer-x * 3),
        y:   ($spacer-y * 3)
    ),
    4: (
        x:   ($spacer-x * 4),
        y:   ($spacer-y * 4)
    )
);

// $body-bg:    palette(theme-light);
$body-bg: darken(palette(white), 5%);
// $content-bg: palette(white);

// $body-color: lighten(desaturate(palette(theme-dark), 25%), 50%);
$body-color: palette(theme-dark);

// Border radii
$border-radius-sm: rem(4px);
$border-radius:    rem(8px);
$border-radius-lg: rem(12px);

// Transitions
$transition-collapse: height ($anim-dur * 3) ease(ease-out-expo);


// Links
$link-color:        palette(theme-mid);
$link-hover-color:  palette(theme-accent-1);
$link-active-color: darken($link-hover-color, 15%);

$link-decoration:       none;
$link-hover-decoration: none;

// Buttons
$btn-primary-color:  palette(white);
$btn-primary-bg:     palette(theme-accent-1);
$btn-primary-border: palette(theme-accent-1);

$btn-secondary-color:  palette(white);
$btn-secondary-bg:     lighten(palette(theme-dark), 15%);
$btn-secondary-border: lighten(palette(theme-dark), 15%);

$btn-font-size: 1rem;
$btn-line-height: (22 / 16);
// $btn-font-weight: weight(semibold);
$btn-padding-x: 1.5rem;
$btn-padding-y: rem(8px);
$btn-padding-x-lg: rem(32px);
$btn-padding-y-lg: rem(24px);
$btn-border-radius: .2rem;
$btn-focus-box-shadow: none;

// Buttons - small
$btn-padding-x-sm: rem(16px);
$btn-padding-y-sm: rem(10px);
$btn-font-size-sm: $small-font-size;
$btn-border-radius-sm: $border-radius-sm;

// Buttons - large
$btn-border-radius-lg: $border-radius-lg;

$btn-box-shadow-size:        rem(6px);
$btn-box-shadow-size-hover:  rem(2px);
$btn-box-shadow-size-active: 0;

$btn-transition: all $anim-dur $anim-ease;


// Forms
$form-group-margin-bottom: $paragraph-margin-bottom;

$form-feedback-margin-top: .75rem;

$input-btn-border-width: 1px;
$input-padding-x: $btn-padding-x;
$input-padding-y: $btn-padding-y;

$input-color: inherit;
$input-color-placeholder: palette(grey-light);
$input-border-color: transparent;
$input-border-focus: palette(grey-lighter);
$input-border-radius: 0;
$input-box-shadow: none;
$input-transition: color $anim-dur $anim-ease,
                   border-color $anim-dur $anim-ease,
                   background-color $anim-dur $anim-ease;

// App Components
// ---------------------------------------------------------------------------------------------------------------------
// Sidebar
$sidebar-height: rem(72px);
$sidebar-height-mobile: rem(50px);
$sidebar-width: rem(260px);
$sidebar-border-color: palette(theme-light);
$sidebar-zindex: 10;

// Modal
$modal-padding: 1rem;
$modal-header-size: rem(80px);
