@import 'core';

.footer {
  background-color: palette('theme-dark-shades');
  color: transparentize(palette('theme-light-shades'), 0.5);
  font-size: rem(12px);
  padding: 1.5rem 0;
  text-align: center;

  // md up
  @include respond-up('md') {
    padding: 2rem 0;
  }

  // Elements
  &__tech {
    margin-bottom: 0;
  }

  &__copyright {
    margin-bottom: 0;
  }

  &__link {
    @include no-underline;

    color: inherit;
    font: inherit;

    &--icon {
      font-size: 1.75em;
      vertical-align: middle;
    }

    &:hover,
    &:focus {
      color: palette('theme-accent-light');
    }
  }
}
