/* ---------------------------------------------------------------------------------------------------------------------
** Utility - Visual effects
** ------------------------------------------------------------------------------------------------------------------ */
// Animate in, when in viewport - see mc39.inViewportDetect in mc39.js
// ---------------------------------------------------------------------------------------------------------------------
.in-view-fade {
    // md up
    @include media-breakpoint-up(md) {
        opacity: 0;

        &.in-view {
            animation: fadeIn ($anim-dur * 4) ease 0s forwards;
        } // /&.in-view
    } // /md up
} // /&.in-view-fade

.in-view-fadeup {
    // md up
    @include media-breakpoint-up(md) {
        opacity: 0;

        &.in-view {
            animation: fadeIn ($anim-dur * 4) ease 0s forwards,
                       moveUp ($anim-dur * 4) ease 0s forwards;
        } // /&.in-view
    } // /md up

    &-lg {
        // md up
        @include media-breakpoint-up(md) {
            opacity: 0;

            &.in-view {
                animation: fadeIn ($anim-dur * 4) ease 0s forwards,
                moveUpLg ($anim-dur * 4) ease 0s forwards;
            } // /&.in-view
        } // /md up
    } // /&-lg
} // /&.in-view-fadeup
