@import '../../sass/functions';
@import '../../sass/variables';
@import '../../sass/mixins';

.content-container {
    // lg up
    // @include media-breakpoint-up(lg) {
        flex: 1 1 auto;
        height: 100vh;
        overflow-y: auto;
        touch-action: pan-y;
    // } // /lg up
} // /.content-container
