/* ---------------------------------------------------------------------------------------------------------------------
** Global layout styles that apply to all document content
** ------------------------------------------------------------------------------------------------------------------ */
@import 'functions';
@import 'variables';
@import 'mixins';

$page-padding: 3rem;

.page-content {
  text-align: center;
  padding-top: ($page-padding / 2);
	padding-bottom: ($page-padding / 2);

	// md up
	@include respond-up(md) {
    padding-top: $page-padding;
		padding-bottom: $page-padding;
	}
}
