@import 'core';

.portfolio-item-page {
  &__supporting-image {
    border-radius: 0.25rem;
    margin: 0;
    overflow: hidden;

    > img {
      display: block;
      height: auto;
      width: 100%;
    }
  }

  &__content-divider {
    border-color: currentColor;
    border-style: solid none none;
    border-width: 1px;
    margin: 2rem 0;
    opacity: 0.25;
  }

  &__external-link {
    margin-top: 2rem;
    text-align: center;

    @include respond-up('md') {
      margin-top: 4rem;
    }
  }
}
