@import 'core';

.icon {
  bottom: $icon-bottom-correction;
  display: inline-block;
  fill: currentColor !important;
  height: 1em;
  position: relative;
  stroke: currentColor !important;
  stroke-width: 0;
  vertical-align: middle;
  width: 1em;
}
