@import 'core';

.pf__item {
  display: block;
  position: relative;
  text-align: left;
  overflow: hidden;
  border: solid .75rem palette(theme-accent-2);
  border-style: solid none;
  margin-bottom: -.75rem;

  // md up
  @include media-breakpoint-up(md) {
    flex: 1 0 50%;
  } // /md up

  &:hover,
  &:focus {
    .pf__item__media {
      transform: scale(1.0625);
    } // /.pf__item__media
  } // /hover, focus

  // Media
  &__media {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    transition: transform ($anim-dur * 3) ease;

    // picture {
    //   display: block;
    // } // /picture

    img {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    } // /img
  } // /&__media

  // Copy
  &__copy {
    $copy-padding: $grid-gutter-width / 2;
    position: relative;
    padding: 15vmax $copy-padding $copy-padding;
    color: palette(white);
    background-image: linear-gradient(to top, transparentize(palette(theme-dark), .4), transparentize(palette(theme-dark), .9) 75%);
    z-index: 1;
  } // /&__copy
} // /.pf__item
