@import 'core';

.portfolio__item {
  position: relative;
  text-align: left;
  overflow: hidden;

  // md up
  @include media-breakpoint-up(md) {
    flex: 1 0 50%;
  } // /md up

  &:hover,
  &:focus {
    .portfolio__item__media {
      transform: scale(1.0625);
    } // /.portfolio__item__media
  } // /hover, focus

  // Media
  &__media {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    transition: transform $anim-dur;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      width: auto;
      height: auto;
      min-width: 100%;
      min-height: 100%;
      transform: translate(-50%, -50%);
    } // /img
  } // /&__media

  // Copy
  &__copy {
    $copy-padding: $grid-gutter-width / 2;
    position: relative;
    padding: 40vmin $copy-padding $copy-padding;
    color: palette(white);
    background-image: linear-gradient(to top, transparentize(palette(theme-dark), .4), transparentize(palette(theme-dark), .9) 75%);
    z-index: 1;
  } // /&__copy
} // /.portfolio__item
