// Global layout styles that apply to all document content
@import 'core';

html,
body {
  background-color: palette(theme-dark);
} // /body

.app {
  padding-top: $sidebar-height-mobile;

  // lg up
  @include media-breakpoint-up(lg) {
    padding-top: 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
  } // /lg up
} // /.app
