/* ---------------------------------------------------------------------------------------------------------------------
** Global layout styles that apply to all document content
** ------------------------------------------------------------------------------------------------------------------ */
@import '../../sass/functions';
@import '../../sass/variables';
@import '../../sass/mixins';

body {
    background-color: palette(theme-accent-2);
} // /body

.app {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
} // /.app

.content-container {
    // lg up
    // @include media-breakpoint-up(lg) {
        flex: 1 1 auto;
        height: 100vh;
        overflow-y: auto;
        touch-action: pan-y;
    // } // /lg up
} // /.content-container

.page-header {
    padding-top: $grid-gutter-width;
    margin-bottom: $grid-gutter-width;

    &__title {
        color: palette(theme-accent-2);
    } // /&__title
} // /.page-header
