/* ---------------------------------------------------------------------------------------------------------------------
** Forms
** ------------------------------------------------------------------------------------------------------------------ */
// Forms
// ---------------------------------------------------------------------------------------------------------------------
form {
    // AJAX forms
    &[data-ajax='true'] {
        @include to-front;

        // Use ::before as a
        // &::before {
        //     @include absolute-full;
        //     content: '';
        //     background-color: $content-bg;
        //     visibility: hidden;
        //     opacity: 0;
        //     z-index: 2;
        //     transition: opacity $anim-dur $anim-ease,
        //                 visibility $anim-dur $anim-ease;
        // } // /&::before

        &::after {
            content: '';
            position: absolute;
            top: calc(50% - 1rem);
            left: calc(50% - 1rem);
            width:  2rem;
            height: 2rem;
            background: url('~images/spinner.svg') no-repeat center;
            background-size: contain;
            opacity: 0;
            visibility: hidden;
            z-index: 3;
        } // /&::after

    } // /&[data-ajax='true']

    // AJAX state - currently submitting
    // -----------------------------------------------------------------------------------------
    &.ajax-loading {
        pointer-events: none;

        // &::before {
        //     opacity: .7;
        //     visibility: visible;
        // } // /&::before

        &::after {
            opacity: 1;
            visibility: visible;
            animation: rotate ($anim-dur * 5) $anim-ease 0s infinite;
            transition: opacity $anim-dur $anim-ease,
                        visibility $anim-dur $anim-ease;
        } // /&::after
    } // /&.ajax-loading
} // /form

.ajax-success-message {
    opacity: 0;
    animation: fadeIn $anim-dur $anim-ease $anim-dur 1 forwards;
} // /.ajax-success-message

// Global labels
// ---------------------------------------------------------------------------------------------------------------------
label {
    // font-size: $input-label-font-size;
    font-weight: weight(heavy);
    color: palette(grey);
    transition: color $anim-dur $anim-ease;
    margin-bottom: .75rem;

    // Use currentColor on input focus
    .form-group:hover &,
    .form-group:focus &,
    .form-group:active &,
    .form-control:hover ~ &,
    .form-control:focus ~ &,
    .form-control:active ~ &,
    &.label--default {
        color: inherit;
    } // /.form-group:focus &
} // /label

// Buttons
// ---------------------------------------------------------------------------------------------------------------------
.btn--ajax {
    .btn__progress,
    .btn__progress-icon {
        display: none;
        vertical-align: middle;
    }

    .btn__progress-icon {
        width: 1em;
        height: 1em;
    } // /.btn__progress-icon

    &.ajax-loading,
    .ajax-loading & {
        .btn__progress {
            display: inline-block;
        } // /.btn-progress

        .btn__progress-icon {
            display: inline-block;
            animation: rotate ($anim-dur * 8) linear 0s infinite forwards;

            .icon {
                display: block;
            } // /.icon
        } // /.btn-progress

        .btn__idle-text {
            display: none;
        } // /.btn-progress
    } // /.ajax-loading &
} // /.btn--ajax



// Normalize reset (irony)
// ---------------------------------------------------------------------------------------------------------------------
// button,
// input,
// optgroup,
// select,
// textarea {
//     font-family: inherit;
// }
