/* ---------------------------------------------------------------------------------------------------------------------
** SVG Icon 'sprites'
** ------------------------------------------------------------------------------------------------------------------ */
.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor !important; // important, as we need to override SVG internal CSS while keeping them usable as regular images
    fill: currentColor !important;
    vertical-align: middle;
    position: relative;
    bottom: $icon-bottom-correction;

    &--variable-width {
        width: auto;
    } // /&--variable-width
} // /.icon
