@import 'mixins/media-queries';
@import 'mixins/typography';

@mixin no-underline {
  &,
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

@mixin make-link-colour($colour, $hover-colour: false, $active-colour: false, $lighten: false, $self: false) {
  @if not $self {
    a {
      color: $colour;

      &:hover,
      &:focus {
        @if $hover-colour {
          color: $hover-colour;
        } @else {
          @if $lighten {
            color: lighten($colour, 10%);
          } @else {
            color: darken($colour, 10%);
          }
        }
      }

      &:active,
      &.active {
        @if $active-colour {
          color: $active-colour;
        } @else {
          color: darken($colour, 10%);
        }
      }
    }
  } @else {
    color: $colour;

    &:hover,
    &:focus {
      @if $hover-colour {
        color: $hover-colour;
      } @else {
        @if $lighten {
          color: lighten($colour, 10%);
        } @else {
          color: darken($colour, 10%);
        }
      }
    }

    &:active,
    &.active {
      @if $active-colour {
        color: $active-colour;
      } @else {
        color: darken($colour, 10%);
      }
    }
  }
}


// Mixin: give a link a custom animated underline
// If $animate is passed as false, the resulting effect is a simple static customiseable underline
// ---------------------------------------------------------------------------------------------------------------------
@mixin lasers($display: inline-block, $bottom: 0, $laser-colour: currentColor, $laser-height: 1px, $animate: true, $duration: $anim-dur, $direction: ltr) {
  @include no-underline;
  position: relative;
  display: $display;

  &::before {
    position: absolute;
    bottom: $bottom;
    left: 0;
    content: '';
    display: block;
    background-color: $laser-colour;
    width: 100%;
    height: $laser-height;
  }

  @if $animate {
    &::before {
      transform: scaleX(0);
      transition: transform $duration ease;
    }

    &:focus,
    &:hover,
    &:active,
    &.active {
      // text-decoration: none;

      &::before {
        transform: scaleX(1);
      }
    }

    @if $direction == ltr {
      &::before {
        transform-origin: left center;
      }
    } @else if $direction == rtl {
      &::before {
        transform-origin: right center;
      }
    } @else if $direction == out {
      &::before,
      &::after {
        content: '';
        position: absolute;
        bottom: $bottom;
        display: block;
        background-color: $laser-colour;
        width: 50%;
        height: $laser-height;
        transform: scaleX(0);
        transition: transform $duration ease;
      }

      &::before {
        left: 0;
        transform-origin: right center;
      }

      &::after {
        right: 0;
        transform-origin: left center;
      }

      &:focus,
      &:hover,
      &:active,
      &.active {
        &::before,
        &::after {
          transform: scaleX(1);
        }
      }
    }
  }
}

// No user pointer interaction (text selection, pointer events)
// ---------------------------------------------------------------------------------------------------------------------
@mixin no-select {
  user-select: none;
  pointer-events: none;
  cursor: default;
}

// No outlines
// ---------------------------------------------------------------------------------------------------------------------
@mixin no-outline {
  &,
  &:hover,
  &:focus,
  &:active,
  &.active {
    outline: 0;
  }
}

// No box-shadows
// ---------------------------------------------------------------------------------------------------------------------
@mixin no-box-shadow {
  &,
  &:hover,
  &:focus,
  &:active,
  &.active {
    box-shadow: none;
  }
}

// Mixin to clear browser default button styles
// ---------------------------------------------------------------------------------------------------------------------
@mixin button-reset {
  user-select: none;
  cursor: pointer;
  background: 0;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: none;
  color: inherit;
  touch-action: manipulation;
}
