@import 'core';

body {
  font-family: $body-font-family;
  font-weight: weight(light);
  line-height: $line-height;
  color: $body-color;
}

p {
  margin-bottom: $paragraph-margin-bottom;
}

address {
  font-style: normal;
  margin-bottom: $paragraph-margin-bottom;
}


a {
  font-weight: $link-font-weight;
  transition: color $anim-dur,
        background $anim-dur;

  &:focus {
    outline: none;
  }

  &:active,
  &.active {
    color: $link-color;
  }
}

::selection {
  background-color: palette(theme-accent-1);
  color: palette(white);
}


// Lists
// ---------------------------------------------------------------------------------------------------------------------
ul,
ol {
  padding: 0 0 0 $list-padding;
  margin-bottom: $paragraph-margin-bottom;
}


// Strong text
// ---------------------------------------------------------------------------------------------------------------------
strong {
  font-weight: weight(bold);
}
