@import 'core';

html,
body {
  background-color: $body-bg;
}

body {
  font-family: $body-font-family;
  font-weight: weight(light);
  line-height: $line-height;
  color: $body-color;
}

p {
  margin: 0 0 $paragraph-margin-bottom;
}


a {
  @include no-outline;
  @include no-underline;
  color: $link-color;
  font-weight: $link-font-weight;
  transition: color $anim-dur,
        background $anim-dur;

  &:hover,
  &:focus {
    color: $link-hover-color;
  }

  &:active {
    color: $link-active-color;
  }
}

::selection {
  background-color: palette(theme-accent-1);
  color: palette(white);
}


ul,
ol {
  padding: 0 0 0 $list-padding;
  margin: 0 0 $paragraph-margin-bottom;
}


strong {
  font-weight: weight(semibold);
}

img {
  display: block;
  width: 100%;
  height: auto;
}
