@import 'core';

html,
body {
  background-color: $body-bg;
}

body {
  color: $body-color;
  font-family: $body-font-family;
  font-weight: weight('light');
  line-height: $line-height;
}

p {
  margin: 0 0 $paragraph-margin-bottom;
}


a {
  @include no-outline;
  @include no-underline;
  color: $link-color;
  font-weight: $link-font-weight;
  transition-duration: $anim-dur;
  transition-property: color, background;

  &:hover,
  &:focus {
    color: $link-hover-color;
  }

  &:active {
    color: $link-active-color;
  }
}

::selection {
  background-color: palette('theme-accent-1');
  color: palette('white');
}


ul,
ol {
  margin: 0 0 $paragraph-margin-bottom;
  padding: 0 0 0 $list-padding;
}


strong {
  font-weight: weight('semibold');
}

img {
  display: block;
  height: auto;
  width: 100%;
}
