@import 'core';

@keyframes spin {
  from {
    transform: rotateZ(0turn);
  }
  to {
    transform: rotateZ(1turn);
  }
}

.spinner {
  align-items: center;
  background-color: palette('theme-dark-shades');
  bottom: 0;
  color: palette('theme-accent-light');
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: $sidebar-height-mobile;
  transition-duration: $anim-dur * 2;
  transition-property: opacity, visibility;
  transition-timing-function: $anim-ease;
  transition-delay: $anim-dur * 2;
  user-select: none;
  visibility: hidden;
  z-index: 2;

  @include respond-up('lg') {
    left: $sidebar-width;
    top: 0;
  }

  @include respond-up('xl') {
    left: $sidebar-width-xl;
  }

  &__icon {
    margin: 0 0 $paragraph-margin-bottom;

    svg {
      animation: spin ($anim-dur * 15) linear 0s infinite;
      display: block;
      height: 3rem;
      margin: 0 auto;
      width: 3rem;
    }
  }

  &__loading-text {
    @include heading(4);

    left: rem(6px);
    margin: 0;
    position: relative;
    text-transform: uppercase;
  }

  &--is-loading {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
  }
}
