@import 'core';

@keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(1turn);
  }
}

.main {
  position: relative;

  // lg up
  @include respond-up('lg') {
    flex: 1 1 auto;
    padding-left: $sidebar-width;
    position: relative;
  }

  @include respond-up('xl') {
    padding-left: $sidebar-width-xl;
  }

  &__content {
    position: relative;
  }

  &--is-loading {
    overflow: hidden;
  }
}
