@import 'core';

.column {
  flex: 1 1 auto;
  padding-right: rem(map-get($gutter-widths, xs) / 2);
  padding-left: rem(map-get($gutter-widths, xs) / 2);
  @each $breakpoint in map-keys($gutter-widths) {
    @if index($gutter-widths, $breakpoint map-get($gutter-widths, $breakpoint)) > 1 {
      padding-right: rem(map-get($gutter-widths, $breakpoint) / 2);
      padding-left: rem(map-get($gutter-widths, $breakpoint) / 2);
    }
  }

  // Modifiers
  // Spans
  @for $i from 1 through $grid-columns {
    &-#{$i} {
      flex: 0 0 percentage($i / $grid-columns);
      max-width: percentage($i / $grid-columns);
    }
  }

  // Spans - per breakpoint
  @each $breakpoint in map-keys($breakpoints) {
    @if index($breakpoints, $breakpoint map-get($breakpoints, $breakpoint)) == 1 {
      @for $i from 1 through $grid-columns {
        &-#{$breakpoint}-#{$i} {
          flex: 0 0 percentage($i / $grid-columns);
          max-width: percentage($i / $grid-columns);
        }
      }
    } @else {
      @include respond-up($breakpoint) {
        @for $i from 1 through $grid-columns {
          &-#{$breakpoint}-#{$i} {
            flex: 0 0 percentage($i / $grid-columns);
            max-width: percentage($i / $grid-columns);
          }
        }
      }
    }
  }
}
