@import 'core';

@keyframes loader {
  from {
    transform: rotate(0);
  } // /from

  to {
    transform: rotate(1turn);
  } // /to
} // /@keyframes loader

.main {
  position: relative;

  // lg up
  @include media-breakpoint-up(lg) {
    flex: 1 1 auto;
    height: 100vh;
    overflow-y: auto;
    touch-action: pan-y;
  } // /lg up

  &__loader {
    position: fixed;
    top: $sidebar-height-mobile;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    background-color: palette(theme-mid);
    color: palette(theme-light);
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    user-select: none;
    transition: opacity ($anim-dur * 2) $anim-ease,
                visibility ($anim-dur * 2) $anim-ease;

    // lg up
    @include media-breakpoint-up(lg) {
      top: 0;
      left: $sidebar-width;
    } // /lg up

    &__icon {
      .icon {
        display: block;
        margin: 0 auto;
        animation: loader ($anim-dur * 15) linear 0s infinite forwards;
      } // /.icon
    }
  } // /.loader

  &.is--loading {
    overflow: hidden;

    .main__loader {
      opacity: 1;
      visibility: visible;
    } // /.main__loader
  } // /&.is--loading
} // /.main
