// Global layout styles that apply to all document content
@import 'core';

html,
body {
  background-color: palette(theme-dark);
}

.app {
  padding-top: $sidebar-height-mobile;

  // lg up
  @include media-breakpoint-up(lg) {
    padding-top: 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
  }

  &__page-transition {
    &-enter {
      position: absolute;
      left: 0;
      right: 0;
      height: 100%;
      opacity: 1;
      transform: translateX(0);

      &-active {
        opacity: 1;
        transform: translateX(0);
        transition-property: opacity, transform;
        transition-duration: $anim-dur * 2;
      }
    }

    &-exit {
      &-active {
        opacity: 0;
        transition-property: opacity;
        transition-duration: $anim-dur * 2;
      }

      &-done {
        position: absolute;
        left: 0;
        right: 0;
        height: 100%;
        opacity: 0;
      }
    }
  }
}
