@import 'core';

.app {
  padding-top: $sidebar-height-mobile;

  // lg up
  @include respond-up(lg) {
    padding-top: 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
  }

  &__page-transition {
    &--enter {
      position: relative;
      opacity: 1;

      &--active {
        opacity: 1;
        transition-property: opacity;
        transition-duration: $anim-dur * 2;
      }
    }

    &--exit {
      &--active {
        position: absolute;
        left: 0;
        right: 0;
        height: 100%;
        opacity: 0;
        transition-property: opacity;
        transition-duration: $anim-dur * 2;
        z-index: 1;
      }
    }
  }
}
