@import 'core';

.about {
  &__page-header {
    &__divider {
      border-color: currentColor;
      border-style: solid none none;
      border-width: 1px;
      margin: 0 0 1rem;
      opacity: 0.5;

      @include respond-up('md') {
        margin-bottom: 2rem;
      }
    }
  }

  &__section-graphic {
    align-items: center;
    color: palette('theme-accent-light');
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0 0 3rem;

    &--single {
      @include respond-up('md') {
        margin-bottom: 0;
      }
    }
  }
}
