@import 'core';

@keyframes loader {
  from { transform: rotate(0); }
  to { transform: rotate(1turn); }
}

.main {
  position: relative;

  // lg up
  @include media-breakpoint-up(lg) {
    flex: 1 1 auto;
    height: 100vh;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }

  &.is--loading {
    overflow: hidden;
  }
}
