@import 'variables';

@function get-next-breakpoint($breakpoint) {
  $index-of-breakpoint: index($breakpoints, $breakpoint map-get($breakpoints, $breakpoint));
  $next-breakpoint: nth(nth($breakpoints, $index-of-breakpoint + 1), 1);

  @return $next-breakpoint;
}

@mixin respond-up($breakpoint) {
  @media (min-width: #{map-get($breakpoints, $breakpoint)}) {
    @content;
  }
}

@mixin respond-down($breakpoint) {
  $next-breakpoint: get-next-breakpoint($breakpoint);

  @media (max-width: #{map-get($breakpoints, $next-breakpoint) - 1px}) {
    @content;
  }
}

@mixin respond-only($breakpoint) {
  $next-breakpoint: get-next-breakpoint($breakpoint);

  @media (min-width: #{map-get($breakpoints, $breakpoint)})
    and (max-width: #{map-get($breakpoints, $next-breakpoint) - 1px}) {
    @content;
  }
}
