@import 'functions';
@import 'mixins';
@import 'variables';

.portfolio {
    &__list {
        // align-items: flex-start;
    } // /&__list

    &__item {
        position: relative;
        display: block;
        margin-bottom: $paragraph-margin-bottom * 2;

        &__media {
            // @include border-top-radius($border-radius-sm);
            margin: 0;
            height: rem(480px);
            overflow: hidden;

            img {
                transform: scale(1.03125);
                transition: transform ($anim-dur * 2) $anim-ease;
            } // /img
        } // /&__media

        &__body {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            padding: 4rem ($grid-gutter-width / 2) ($grid-gutter-width / 2);
            background-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, .8) 75%);
            z-index: 1;
        } // /&__body
    } // /&__item

    &__link {
        position: relative;
        display: block;
        font-weight: inherit;
        // background-color: lighten(desaturate($body-bg, 75%), 7.5%);
        background-color: palette(theme-accent-1);
        // border-radius: $border-radius-sm;
        border: solid 8px palette(theme-accent-1);
        overflow: hidden;
        // transition: border-color $anim-dur $anim-ease,
        //             transform $anim-dur $anim-ease;


        &,
        &:focus,
        &:active {
            color: $body-color;
        } // all states

        &:hover {
            color: lighten($body-color, 25%);
            // transform: translateY(-.5rem);

            .portfolio__item__media {
                img {
                    transition-duration: ($anim-dur * 4);
                    transform: scale(1);
                } // /img
            } // /.portfolio__item__media img
        } // hover state

        &:active  {
            // transition: none;
            transform: translateY(.25rem);
        } // /&:active
    } // /&__link
} // /.portfolio
