@import 'functions';
@import 'variables';
@import 'mixins';

.footer {
  background-color: palette(theme-dark);
  color: transparentize(palette(theme-light), .4);
  padding: 1.5rem 0;
  font-size: rem(12px);

  // md up
  @include respond-up(md) {
    padding: 2rem 0;
  }

  &__icon {
    vertical-align: middle;
    font-size: 175%;

    .icon {
      bottom: .125em;
    }
  }
}
