@import 'functions';
@import 'mixins';
@import 'variables';

// Using react-modal
// https://www.npmjs.com/package/react-modal

.react-modal {
    $modal-margin: 1rem;
    background-color: lighten(desaturate($body-bg, 75%), 7.5%);
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - #{$sidebar-width + ($modal-margin * 2)});
    height: calc(100vh - #{$modal-margin * 2});
    margin: $modal-margin;
    border-radius: $border-radius-sm;
    // color: palette(theme-light);
    overflow-y: auto;
    touch-action: pan-y;
    transition: transform $anim-dur $anim-ease;
    transform: scale(.75);
    z-index: 10;

    &.ReactModal__Content--after-open {
        transform: scale(1);
    } // /.ReactModal__Body--open &

    &.ReactModal__Content--before-close {
        transition-duration: $anim-dur * 2;
        transform: scale(.5) rotateX(45deg);
    } // /&.ReactModal__Content--before-close

    // Modal Portal
    // -----------------------------------------------------------------------------------------------------------------
    // &__portal {
    // } // /&__portal

    // Modal Overlay
    // -----------------------------------------------------------------------------------------------------------------
    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background-color: transparentize(palette(theme-dark), .25);
        opacity: 0;
        perspective: 15cm; // 15cm from 'screen'
        z-index: 9;

        // State - After Opening
        &.ReactModal__Overlay--after-open {
            transition: opacity $anim-dur $anim-ease;
            opacity: 1;
        } // /&.ReactModal__Overlay--after-open

        // State - Before Closing
        &.ReactModal__Overlay--before-close {
            opacity: 0;
        } // /&.ReactModal__Overlay--after-open
    } // /&__overlay

    // Modal header
    // -----------------------------------------------------------------------------------------------------------------
    &__header {
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-start;
        overflow: hidden;
        background-color: lighten(desaturate($body-bg, 75%), 7.5%);
    } // /&__header

    &__title {
        color: palette(theme-accent-2);
        flex: 1;
        padding: ($modal-padding * 2) $modal-padding 0;
        margin: 0;
        line-height: $modal-header-size;
    } // /&__title

    &__close {
        @include button-reset;
        @include no-outline;
        display: block;
        flex: 0 0 $modal-header-size;
        width: $modal-header-size;
        height: $modal-header-size;
        font-size: $modal-header-size * .6;
        line-height: 0;
        font-family: $headings-font-family;
        font-weight: weight(light);
        color: palette(theme-accent-2);

        &:hover,
        &:focus {
            background-color: transparentize(palette(black), .75);
        } // /&:hover, &:focus

        &:active {
            background-color: transparentize(palette(black), .5);
        } // /&:active
    } // /&__close

    // Modal Body
    // -----------------------------------------------------------------------------------------------------------------
    &__body {
    } // /&__body
} // /.react-modal
