@import 'core';

.pf__item {
  flex: 1 1 calc(100% - #{map-get($grid-gutter-widths, sm) / 2});
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  text-align: left;
  border: solid (map-get($grid-gutter-widths, xs) / 4) palette(theme-accent-2);
  border-style: none none solid;
  margin-right: map-get($grid-gutter-widths, xs) / 4;
  margin-left: map-get($grid-gutter-widths, xs) / 4;
  overflow: hidden;

  // xs only
  @include media-breakpoint-only(xs) {
    margin-bottom: rem(map-get($grid-gutter-widths, xs) / 2);
  } // /xs only

  // sm up
  @include media-breakpoint-up(sm) {
    flex-basis: calc(50% - #{map-get($grid-gutter-widths, sm) / 2});
    margin-right: map-get($grid-gutter-widths, sm) / 4;
    margin-left: map-get($grid-gutter-widths, sm) / 4;
    margin-bottom: rem(map-get($grid-gutter-widths, sm) / 2);
  } // /sm up

  // md up
  @include media-breakpoint-up(md) {
    flex-basis: calc(50% - #{map-get($grid-gutter-widths, md) / 2});
    margin-right: map-get($grid-gutter-widths, md) / 4;
    margin-left: map-get($grid-gutter-widths, md) / 4;
    margin-bottom: rem(map-get($grid-gutter-widths, md) / 2);
  } // /md up

  // lg up
  @include media-breakpoint-up(lg) {
    border-bottom-width: map-get($grid-gutter-widths, lg) / 4;
  } // /lg up

  &:hover,
  &:focus {
    .pf__item__media {
      transform: scale(1.0625);
    } // /.pf__item__media
  } // /hover, focus

  // Media
  &__media {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    transition: transform $anim-dur ease;

    img {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    } // /img
  } // /&__media

  // Copy
  &__copy {
    $copy-padding: $grid-gutter-width-base / 2;
    position: relative;
    padding: 15vmax $copy-padding $copy-padding;
    color: palette(white);
    background-image: linear-gradient(
      to top,
      transparentize(palette(theme-dark), .2),
      transparentize(palette(theme-dark), .6) 40%,
      transparentize(palette(theme-dark), 1)
    );
    z-index: 1;
  } // /&__copy
} // /.pf__item
