@import 'functions';
@import 'mixins';
@import 'variables';

$navbar-height: rem(72px);

.site-navbar {
    height: 100vh;
    overflow-y: auto;
    touch-action: pan-y;
    border-right: solid 3px palette(theme-green);
    box-shadow: $shadow-right-sm;
    font-family: $headings-font-family;

    // lg up
    @include media-breakpoint-up(lg) {
        display: flex;
        align-items: center;
        flex: 0 0 rem(320px);
    } // /lg up

    &__link {
        color: inherit;
        text-transform: uppercase;
        font-weight: weight(light);
    } // /&__link

    // Brand (Logo/Text)
    // -----------------------------------------------------------------------------------------------------------------
    &__brand {
        color: palette(theme-green);
        display: block;
        font-weight: weight(light);
        text-transform: uppercase;
        padding: .5rem 0;
        font-size: $font-size-h3;
        line-height: $headings-line-height;

        &__image {
            display: inline-block;
            vertical-align: middle;
            border-radius: 50%;
            margin-right: .5rem;
            box-shadow: $shadow-right-down-sm;
        } // /&__image

        &__text {
            text-align: left;
            display: inline-block;
            vertical-align: middle;
        } // /&__text
    } // /&__brand
} // /.site-navbar
