@import 'core';

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  background-color: palette(theme-accent-1);
  text-transform: uppercase;
  color: palette(theme-light);
  z-index: $sidebar-zindex;

  // lg up
  @include respond-up(lg) {
    position: relative;
    height: 100vh;
    overflow-y: auto;
    touch-action: pan-y;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex: 0 0 $sidebar-width-lg;
    padding: 0;
    border: 0;
    text-align: right;
  }

  // xl up
  @include respond-up(xl) {
    flex-basis: $sidebar-width;
  }

  &__content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: $grid-gutter-width-base / 4;
    padding-bottom: $grid-gutter-width-base / 4;
    background-color: palette(theme-accent-1);
    height: $sidebar-height-mobile;
    z-index: $sidebar-zindex;

    // lg up
    @include respond-up(lg) {
      display: block;
      padding-top: 0;
      padding-bottom: 0;
      background: 0;
      height: auto;
    }
  }

  .sitenav__nav-item {
    // md only
    @include respond-only(md) {
      display: inline-block;

      &:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }

  // Brand (Logo/Text)
  // -----------------------------------------------------------------------------------------------------------------
  &__brand {
    @include heading(5);
    margin-bottom: 0;
    letter-spacing: normal;

    // lg up
    @include respond-up(lg) {
      font-size: $font-size-h4;
    }

    // Elements
    &__image {
      display: inline-block;
      vertical-align: middle;
      width: rem(32px);
      height: rem(32px);
      margin: 0;
      background: url('./head-sprite.png') top left no-repeat transparent;
      background-size: rem(32px) rem(64px);
      image-rendering: pixelated;
      filter: drop-shadow(#{$filter-shadow-right-down-sm});
      transition: transform $anim-dur;

      // lg up
      @include respond-up(lg) {
        display: block;
        margin-left: auto;
        width: rem(48px);
        height: rem(48px);
        background-size: rem(48px) rem(96px);
      }
    }

    &__name {
      display: inline-block;
      vertical-align: middle;
      color: inherit;
      margin-left: 1rem;
    }

    &__job-title {
      display: block;
      font-size: .75em;
      color: palette(theme-light);
      opacity: .8;

      @include respond-down(md) {
        display: none;
      }
    }

    // Modifiers
    &,
    &:hover,
    &:focus {
      color: palette(theme-light);
    }

    &:hover,
    &:focus {
      .sidebar__brand__image {
        background-position: bottom left;
      }
    }

    &:active {
      .sidebar__brand__image {
        transform: scale(#{1 - (1 / 8)});
        transition-duration: 0s;
      }
    }
  }

  &__divider {
    border-style: solid none none;
    border-color: transparentize(palette(theme-light), .8);
    border-width: 1px;
    margin: 2rem 0;

    @include respond-down(md) {
      display: none;
    }
  }

  // Menu
  // -------------------------------------------------------------------------------------------------
  &__btn-sitenav-container {
    @include respond-up(md) {
      display: none;
    }
  }

  &__btn-sitenav {
    $burger-bar-width: 1.75rem;
    $burger-bar-height: 1px;
    $burger-bar-spacing: 7px;
    @include button-reset;
    @include no-outline;
    position: relative;
    display: block;
    width: $burger-bar-width;
    height: ($burger-bar-height * 3) + ($burger-bar-spacing * 2);
    transition: transform ($anim-dur / 2) ease;

    // Clicked
    &:active {
      transform: scale(#{1 - (1 / 10)});
    }

    // Menu active
    &[aria-expanded='true'] {
      .burger-bar {
        background-color: transparent;

        &::before {
          transform: rotate(-135deg);
        }

        &::after {
          transform: rotate(135deg);
        }
      }
    }

    .burger-bar {
      top: calc(50% - #{($burger-bar-height / 2)});

      &,
      &::before,
      &::after {
        display: block;
        width: $burger-bar-width;
        height: $burger-bar-height;
        position: absolute;
        left: 0;
        background-color: palette(theme-light);
        transition: transform $anim-dur ease,
                    background-color $anim-dur ease;
      }

      &::before,
      &::after {
        content: '';
      }

      &::before {
        transform: translateY(-#{$burger-bar-height + $burger-bar-spacing});
      }

      &::after {
        transform: translateY(#{$burger-bar-height + $burger-bar-spacing});
      }
    }
  }

  &__sitenav-wrapper {
    &--desktop {
      @include respond-down(sm) {
        display: none;
      }
    }

    &--mobile {
      position: fixed;
      top: $sidebar-height-mobile;
      left: 0;
      width: 100%;
      margin: 0;
      padding: .5rem 0;
      background-color: palette(theme-accent-1);
      border-top: solid $hr-border-width transparentize($sidebar-border-color, .75);
      border-bottom: solid $hr-border-width $sidebar-border-color;
      z-index: $sidebar-zindex - 1;
      transition: opacity $anim-dur ease,
                  transform $anim-dur ease,
                  visibility $anim-dur ease;

      &.is--closed {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-50%);
        pointer-events: none;
      }

      @include respond-up(md) {
        display: none;
      }
    }
  }
}
