@import 'core';

.page-header-subtitle {
  @include heading(4);
  @include make-link-colour(palette('theme-accent-1'), $lighten: true);
  color: mix(palette('theme-light'), palette('theme-dark'), 40%);
  margin: 0;
  padding-bottom: 1rem;
  text-transform: uppercase;

  @include respond-up('md') {
    padding-bottom: 2rem;
  }
}
