@import 'core';

.page-header-subtitle {
  @include heading(4);
  @include make-link-colour(palette('theme-accent-light'), $lighten: true);
  color: transparentize(palette('theme-light-shades'), 0.5);
  margin: 0;
  padding-bottom: 1rem;
  text-transform: uppercase;

  @include respond-up('md') {
    padding-bottom: 2rem;
  }
}
