@import 'functions';
@import 'mixins';
@import 'variables';

$navbar-height: rem(72px);

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: $sidebar-height-mobile;
    width: 100%;
    overflow-y: auto;
    touch-action: pan-y;
    background-color: palette(theme-accent-1);
    border-bottom: solid $hr-border-width $sidebar-border-color;
    color: palette(theme-light);
    z-index: $sidebar-zindex;

    // lg up
    @include media-breakpoint-up(lg) {
        position: relative;
        height: 100vh;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        flex: 0 0 ($sidebar-width * .85);
        border-bottom: 0;
        border-right: solid $hr-border-width $sidebar-border-color;
    } // /lg up

    // xl up
    @include media-breakpoint-up(xl) {
        flex-basis: $sidebar-width;
    } // /xl up

    &__credits {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        color: palette(theme-mid);
    } // /&__credits

    &__nav-link {
        @include lasers($direction: out);
        font-family: $headings-font-family;
        // color: inherit;
        text-transform: uppercase;
        font-weight: weight(light);

        &.active {
          color: $link-hover-color;
        } // /&.active
    } // /&__nav-link

    // Brand (Logo/Text)
    // -----------------------------------------------------------------------------------------------------------------
    &__brand {
        font-family: $headings-font-family;
        color: palette(theme-light);
        display: block;
        font-weight: weight(light);
        text-transform: uppercase;
        font-size: $font-size-h4;
        line-height: $headings-line-height;

        &__image {
            display: inline-block;
            vertical-align: top;
            border-radius: 50%;
            // box-shadow: $box-shadow-right-down-sm;
            filter: drop-shadow(#{$filter-shadow-right-down-sm});
        } // /&__image

        &__name {
            display: inline-block;
            vertical-align: middle;
            color: inherit;
        } // /&__name

        &__job-title {
            text-transform: uppercase;
            display: block;
            margin-top: .5rem;
            font-size: rem(12px);
            color: palette(theme-light);
        } // /&__job-title
    } // /&__brand
} // /.site-navbar
