@import 'functions';
@import 'mixins';
@import 'variables';

.sidebar {
  @include make-link-colour(palette(theme-light), $hover-colour: palette(theme-light), $active-colour: palette(white), $self: false);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  background-color: palette(theme-accent-1);
  // border-bottom: solid $hr-border-width $sidebar-border-color;
  text-transform: uppercase;
  color: palette(theme-light);
  z-index: $sidebar-zindex;

  // lg up
  @include media-breakpoint-up(lg) {
    position: relative;
    height: 100vh;
    overflow-y: auto;
    touch-action: pan-y;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex: 0 0 $sidebar-width-lg;
    padding: 0;
    border: 0;
    // border-right: solid $hr-border-width $sidebar-border-color;
  } // /lg up

  // xl up
  @include media-breakpoint-up(xl) {
    flex-basis: $sidebar-width;
  } // /xl up

  &__content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: $grid-gutter-width-base/ 4;
    padding-bottom: $grid-gutter-width-base/ 4;
    background-color: palette(theme-accent-1);
    height: $sidebar-height-mobile;
    z-index: $sidebar-zindex;

    // lg up
    @include media-breakpoint-up(lg) {
      display: block;
      padding-top: 0;
      padding-bottom: 0;
      background: 0;
      height: auto;
    } // /lg up
  } // /&__content

  // .sitenav {
  // } // /.sitenav__nav

  .sitenav__nav-item {
    // md only
    @include media-breakpoint-only(md) {
      display: inline-block;

      &:not(:last-child) {
        margin-right: 1rem;
      } // /&:not(:last-child)
    } // /md only
  } // /.sitenav__nav-item

  .sitenav__nav-link {
    @include lasers($direction: out, $display: block);
    font-family: $headings-font-family;
    font-weight: weight(light);
    display: block;
    padding: .25rem 0;
    margin: .25rem 0;

    // md up
    @include media-breakpoint-up(md) {
      padding: 0;
      margin: 0;
    } // /md up

    // lg up
    @include media-breakpoint-up(lg) {
      display: inline-block;
    } // /lg up
  } // /.sitenav__nav-link

  // Brand (Logo/Text)
  // -----------------------------------------------------------------------------------------------------------------
  &__brand {
    font-family: $headings-font-family;
    color: palette(theme-light);
    display: block;
    font-weight: weight(light);
    font-size: $font-size-h5;
    line-height: $headings-line-height;

    // lg up
    @include media-breakpoint-up(lg) {
      font-size: $font-size-h4;
    } // /lg up

    &__image {
      max-width: rem(32px);
      height: auto;
      display: inline-block;
      border-radius: 50%;
      filter: drop-shadow(#{$filter-shadow-right-down-sm});

      // lg up
      @include media-breakpoint-up(lg) {
        display: block;
        margin-left: auto;
        max-width: none;
      } // /lg up
    } // /&__image

    &__name {
      display: inline-block;
      vertical-align: middle;
      color: inherit;
    } // /&__name

    &__job-title {
      display: block;
      font-size: rem(12px);
      color: palette(theme-light);
      opacity: .65;
    } // /&__job-title
  } // /&__brand

  // Menu
  // -------------------------------------------------------------------------------------------------
  &__btn-sitenav {
    $burger-bar-width: 1.75rem;
    $burger-bar-height: 1px;
    $burger-bar-spacing: 7px;
    @include button-reset;
    @include no-outline;
    position: relative;
    display: block;
    width: $burger-bar-width;
    height: ($burger-bar-height * 3) + ($burger-bar-spacing * 2);
    transition: transform ($anim-dur / 2) ease;

    // Clicked
    &:active {
      transform: scale(#{1 - (1 / 10)});
    } // /&:active

    // Menu active
    &[aria-expanded='true'] {
      .burger-bar {
        background-color: transparent;

        &::before {
          transform: rotate(-135deg);
        } // /&::before

        &::after {
          transform: rotate(135deg);
        } // /&::before
      } // /.burger-bar
    } // /&[aria-expanded='true']

    .burger-bar {
      top: calc(50% - #{($burger-bar-height / 2)});

      &,
      &::before,
      &::after {
        display: block;
        width: $burger-bar-width;
        height: $burger-bar-height;
        position: absolute;
        left: 0;
        background-color: palette(theme-light);
        transition: transform $anim-dur ease,
                    background-color $anim-dur ease;
      } // /all bars

      &::before,
      &::after {
        content: '';
      }

      &::before {
        transform: translateY(-#{$burger-bar-height + $burger-bar-spacing});
        // transform-origin: bottom left;
      } // /&::before

      &::after {
        transform: translateY(#{$burger-bar-height + $burger-bar-spacing});
        // transform-origin: top left;
      } // /&::before
    } // /.burger-bar
  } // /&__btn-sitenav

  &__menu {
    position: fixed;
    top: $sidebar-height-mobile;
    left: 0;
    width: 100%;
    margin: 0;
    padding: .5rem 0;
    background-color: palette(theme-accent-1);
    border-bottom: solid $hr-border-width $sidebar-border-color;
    z-index: $sidebar-zindex - 1;
    transition: opacity $anim-dur ease,
                transform $anim-dur ease,
                visibility $anim-dur ease;

    &.is--closing,
    &.is--closed {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      transform: translateY(-50%);
    } // /&.is--closing

    &.is--open {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    } // /&.is--open
  } // /&__menu
} // /.sidebar
