@import 'core';

.row {
  align-items: stretch;
  display: flex;
  flex-flow: row wrap;
  margin-left: rem(map-get($gutter-widths, 'xs') / -2);
  margin-right: rem(map-get($gutter-widths, 'xs') / -2);

  @each $breakpoint in map-keys($gutter-widths) {
    @if index($breakpoints, $breakpoint map-get($breakpoints, $breakpoint)) > 1 {
      @include respond-up($breakpoint) {
        margin-left: rem(map-get($gutter-widths, $breakpoint) / -2);
        margin-right: rem(map-get($gutter-widths, $breakpoint) / -2);
      }
    }
  }

  // Modifiers
  &--align {
    &-top { align-items: flex-start; }
    &-middle { align-items: center; }
    &-bottom { align-items: flex-end; }

    @each $breakpoint in map-keys($breakpoints) {
      @include respond-up($breakpoint) {
        &-#{$breakpoint}-top { align-items: flex-start; }
        &-#{$breakpoint}-middle { align-items: center; }
        &-#{$breakpoint}-bottom { align-items: flex-end; }
      }
    }
  }

  &--justify {
    &-left { justify-content: flex-start; }
    &-center { justify-content: center; }
    &-right { justify-content: flex-end; }
    &-space-between { justify-content: space-between; }

    @each $breakpoint in map-keys($breakpoints) {
      @include respond-up($breakpoint) {
        &-#{$breakpoint}-left { justify-content: flex-start; }
        &-#{$breakpoint}-center { justify-content: center; }
        &-#{$breakpoint}-right { justify-content: flex-end; }
        &-#{$breakpoint}-space-between { justify-content: space-between; }
      }
    }
  }
}
