@import 'core';

.row {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  margin-right: rem(map-get($gutter-widths, xs) / -2);
  margin-left: rem(map-get($gutter-widths, xs) / -2);

  @each $breakpoint in map-keys($gutter-widths) {
    @if index($breakpoints, $breakpoint map-get($breakpoints, $breakpoint)) > 1 {
      @include respond-up($breakpoint) {
        margin-right: rem(map-get($gutter-widths, $breakpoint) / -2);
        margin-left: rem(map-get($gutter-widths, $breakpoint) / -2);
      }
    }
  }

  // Modifiers
  &--align {
    &-top {
      align-items: flex-start;
    }

    &-middle {
      align-items: center;
    }

    &-bottom {
      align-items: flex-end;
    }
  }

  &--justify {
    &-left {
      justify-content: flex-start;
    }

    &-center {
      justify-content: center;
    }

    &-right {
      justify-content: flex-end;
    }

    &-space-between {
      justify-content: space-between;
    }

    &-space-around {
      justify-content: space-around;
    }
  }
}
