/* -------------------------------------------------------
** About Section
** -----------------------------------------------------*/
@import 'functions';
@import 'variables';
@import 'mixins';

.about {
  &__section {
    $title-icon-size: rem(32px);
    // $section-border-color: darken($body-bg, 25%);
    $section-border-color: mix($body-bg, palette(theme-accent-1), 75%);
    background-color: darken($body-bg, 2.5%);
    padding: $grid-gutter-width / 2;
    // box-shadow: 0 rem(2px) rem(2px) 0 rgba(0, 0, 0, .175);

    &__title {
      border-bottom: solid $hr-border-width $section-border-color;
      padding-bottom: $headings-margin-bottom;

      // Variant - has-icon
      &--has-icon {
        position: relative;
        padding-right: $title-icon-size;

        .about__section__title-icon {
          display: inline-block;
          position: absolute;
          top: 0;
          right: 0;
        } // /.about__section__icon
      } // /&--has-icon
    } // /&__title

    &__title-icon {
      display: inline-block;
      text-align: center;
      color: $headings-color;

      .icon {
        width: 1.125em;
        height: 1.125em;
      } // /.icon
    } // /&__title-icon, &__section-icon

    &__graphic {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: center;

      &__icon {
        display: block;
        font-size: $font-size-h3;
        line-height: 1;
        text-align: center;
        flex: 0 1 auto;
        padding: 0 ($grid-gutter-width / 2);
        margin-bottom: $paragraph-margin-bottom;

        // md up
        @include media-breakpoint-up(md) {
          font-size: $font-size-h1 * 1.5;
        } // /md up

        // Variant - large
        &--large {
          @include media-breakpoint-up(md) {
            font-size: $font-size-h1 * 2;
          } // /md up
        } // /&--large
      } // /&__icon
    } // /&__graphic

    &:not(:last-of-type) {
      margin-bottom: $paragraph-margin-bottom;
      padding-bottom: $paragraph-margin-bottom;
      // border-bottom: solid $hr-border-width $section-border-color;

      // md up
      @include media-breakpoint-up(md) {
        margin-bottom: 3rem;
      } // /md up
    } // /&:not(:last-of-type)
  } // /&__section
} // /.about
