@import 'core';

@mixin button-variant($color, $background-color) {
  background-color: $background-color;
  border-color: $background-color;

  &,
  &:hover,
  &:focus,
  &:active {
    color: $color;
  }

  &:hover,
  &:focus {
    background-color: darken($background-color, 5%);
    border-color: darken($background-color, 5%);
  }

  &:active {
    background-color: $background-color;
    border-color: $background-color;
    transform: translateY(1px);
    transition-duration: 0s, $anim-dur, $anim-dur;
  }
}

.button {
  @include button-reset;
  @include no-underline;

  background-color: $btn-primary-bg;
  border: solid 1px $btn-primary-bg;
  border-radius: $btn-border-radius;
  box-shadow: none;
  color: $btn-primary-color;
  display: inline-block;
  font-family: $body-font-family;
  font-size: $btn-font-size;
  font-weight: $btn-font-weight;
  line-height: (rem(22px) / $btn-font-size);
  padding: $btn-padding-y $btn-padding-x;
  text-transform: uppercase;
  transition-duration: $anim-dur;
  transition-property: transform, color, background-color;
  transition-timing-function: $anim-ease;

  &--primary {
    @include button-variant($btn-primary-color, $btn-primary-bg);
  }

  &--secondary {
    @include button-variant($btn-secondary-color, $btn-secondary-bg);
  }

  &:disabled,
  &[disabled] {
    &,
    &:hover,
    &:focus,
    &:active {
      background-color: palette('grey-light');
      border-color: palette('grey-light');
      color: palette('white');
      cursor: not-allowed;
      pointer-events: none;
    }
  }
}
