@import 'core';

.sitenav {
  list-style: none;
  margin: 0;
  padding: 0;

  @include respond-only('md') {
    align-items: stretch;
    display: flex;
  }

  &__nav-item {
    &:not(:last-child) {
      margin: 0 0 0.75rem;

      @include respond-only('md') {
        margin: 0 0.75rem 0 0;
      }

      @include respond-up('lg') {
        margin: 0;
      }
    }
  }

  &__nav-link {
    @include no-underline;
    @include heading(5);
    @include lasers($direction: out);
    letter-spacing: normal;
    margin-bottom: 0;
    padding-bottom: 0.125em;

    &,
    &:hover,
    &:focus {
      color: palette('theme-light');
    }

    &--active {
      color: palette('white');

      &::before,
      &::after {
        transform: scaleX(1);
      }
    }
  }
}
